/vendor/
/composer.lock
/symfony.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application
/tests/ApplicationSylius2
/tests/RecipeApplication
/tests/RecipeEndpoint

/behat.yml
/phpspec.yml

/package-lock.json

/.php-version
/php.ini
/.phpunit.result.cache
/node_modules
/yarn.lock
